{
  "Discord": {
    "TOKEN": "YourBotToken"
  },
  "Database": {
    "user": "DatabaseUser",
    "password": "DatabasePassword",
    "host": "DatabaseHost(eg. localhost)",
    "database": "Database"
  }
}